{% extends 'email/base_email.html' %}

{% block heading %}
    You have been asked to reset the password for your account.
{% endblock %}

{% block username %}
    Dear <strong>{{ user.username }} !!</strong>
{% endblock %}

{% block content %}
    Go ahead to set a new password.
{% endblock %}

{% block final_content %}
    kindly click on the following button to set a new password.
{% endblock %}

{% block routing %}
    <a href="{{ protocol }}://{{base_url}}/reset-password-confirm/{{ uid }}/{{ token }}/" target="_blank" class="btn-primary">Password Reset</a>
{% endblock %}
