{% extends 'email/base_email_en.html' %}

{% block content %}
<p>
    Gentile {{first_name}} {{last_name}}, <br/>
    <strong>Hai ricevuto un invito a far parte dello staff dell'impresa {{company_name}}.</strong>
    <br/>
</p>
<p>
    Per accettare o rifiutare l'invito, accedi al portale e vai alla pagina dei tuoi profili.
    Nella sezione degli inviti troverai l'elenco delle aziende che ti hanno invitato a unirti al loro staff.
</p>
<p>
    Per semplicità, il seguente link reindirizzerà alla pagina di destinazione
    <i>(** E' necessario che tu abbia già effettuato la login)</i>.
</p>
<p>
    <a style="background-color: #085ff7" href="{{ endpoint }}" target="_blank" class="btn">Vai alla pagina</a>
</p>
{% endblock %}
