{% extends 'email/base_email_en.html' %}

{% block content %}
<p>
    Dear {{first_name}} {{last_name}}, <br/>
    <strong>You have received an invitation to join the staff of a new company {{company_name}}.</strong>
    <br/>
</p>
<p>
    To accept or decline the invitation, access the portal and go to the page of your profiles.
    In the Invitations section you will find the list of companies that have invited you to join their staff.
</p>
<p>
    For simplicity, the following button will redirect to the target page <i>(** We would expect that you have already logged in)</i>
</p>
<p>
    <a style="background-color: #085ff7" href="{{ endpoint }}" target="_blank" class="btn">Go to Page</a>
</p>
{% endblock %}
