{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="https://askbootstrap.com/preview/osahanin/light/img/fav.png">
    <title>EdilCloud.io - Report template</title>
    <link rel="stylesheet"
          href="https://askbootstrap.com/preview/osahanin/light/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://askbootstrap.com/preview/osahanin/light/vendor/slick/slick.min.css">
    <link rel="stylesheet" href="https://askbootstrap.com/preview/osahanin/light/vendor/slick/slick-theme.min.css">
    <link rel="stylesheet" href="https://askbootstrap.com/preview/osahanin/light/vendor/icons/feather.css">
    <link rel="stylesheet" href="https://askbootstrap.com/preview/osahanin/light/css/style.css">
<body>

<nav class="navbar navbar-expand navbar-light bg-white osahan-nav-top p-0">
    <div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
        <a class="navbar-brand mr-2" href="index.html"><img
                style="max-width: 150px; margin-top: 20px; margin-bottom:20px;"
                src="https://app.edilcloud.io/assets/images/logos/fuse.svg" alt="">
        </a>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="feather-search mr-2"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control border-0 shadow-none"
                                   placeholder="Search people, jobs and more..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn" type="button">
                                    <i class="feather-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="jobs.html"><span style="margin-left: 10px;" class="d-none d-lg-inline"> Report generato da {{ requested_from.first_name }} {{ requested_from.last_name }} - {{ requested_from.company }}</span></a>
            </li>
        </ul>
    </div>
</nav>
<div style="background-color: #0d0a27;" class="py-5">
    <div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h1 class="text-white font-weight-light"><span class="font-weight-bold">Report:
                </span>{{ name }}</h1>
                <p class="mb-2 text-white-50">
                    <a href="https://app.edilcloud.io/apps/projects/{{ id }}">https://app.edilcloud.io/apps/projects/{{
                        id }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pt-5">
    <div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
        <h2 class="font-weight-light">
            <span class="font-weight-bold">
                1. Informazioni di progetto
            </span>
        </h2>
    </div>
</div>
<div class="py-5 px-20">
    <div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
        <div class="row">
            <main class="col col-xl-12ss order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">
                <div class="box shadow-sm border rounded bg-white mb-3">
                    <div class="box-title border-bottom p-3">
                        <h6 class="m-0">Descrizione del progetto</h6>
                    </div>
                    <div class="box-body p-3">
                        <p>{{ description }}
                        </p>
                    </div>
                </div>
            </main>
            <aside class="col col-xl-12 order-xl-1 col-lg-12 order-lg-1 order-md-1 order-sm-1 col-md-12 col-sm-12 col-12">
                <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                    <div class="p-5">
                        <img src="{{ company.logo }}"
                             class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="p-3 border-top border-bottom">
                        <h6 class="font-weight-bold text-dark mb-1 mt-0">{{ company.name }}</h6>
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div style="max-width: 100%; padding-left: 60px; padding-right: 60px; margin-top: 30px;" class="container">
        <div class="box shadow-sm rounded bg-white mb-3 col col-xl-12 order-xl-12 col-lg-12">
            <div class="box-title border-bottom p-3">
                <h6 class="m-0">Aziende e Persone coinvolte nel progetto: ordine alfabetico per cognome</h6>
            </div>
            <div class="p-3">
                {% for company_key, company_profile_list in company_profiles.items %}
                <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="img/l1.png" alt="">
                    </div>
                    <div class="font-weight-bold mr-2">
                        <div class="text-truncate">company_profile_list.0.name</div>
                        <div class="small text-gray-500">company_profile_list.0.name
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for profile in company_profile_list %}
                    {% if  forloop.counter > 0 %}
                    <div class="col-md-3">
                        <a href="profile.html">
                            <div class="network-item rounded mb-3">
                                <div class="p-3 d-flex align-items-center network-item-header">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/p1.png" alt="">
                                    </div>
                                    <div class="font-weight-bold">
                                        <h6 class="font-weight-bold text-dark mb-0">{{ profile.fist_name}} {{ profile.last_name }}</h6>
                                        <div class="small text-black-50">{{ profile.role }} - {{ profile.company.name }}</div>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% for task in tasks %}
<div class="pb-5">
    <div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
        <h2 class="font-weight-light"><span style="color:  #0d0a27;" class="font-weight-bold">{{ forloop.counter }}. Dettaglio delle fasi di lavoro</span>
        </h2>
    </div>
</div>
<div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="blog-card padding-card box shadow-sm rounded bg-white mb-3 border-0" style="min-height: 605px;">
                <div class="card-body">
                    <h2>{{ task.name }}</h2>
                    <h6 class="mb-3">{{ task.post_set | length }} posts</h6>
                    {% for post in task.post_set %}
                    <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                        <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="{{ post.author.photo }}" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">{{ post.author.first_name }} {{ post.author.last_name }}
                                </div>
                                <div class="small text-gray-500">{{ post.author.position }}
                                    - {{ post.author.company.name }}
                                </div>
                            </div>
                            <span class="ml-auto small">{{ post.published_date|date:'Y-m-d' }}</span>
                        </div>
                        <div class="p-3 border-bottom osahan-post-body">
                            <p class="mb-0">{{ post.text }} </p>
                        </div>
                        {% for media in post.media_set %}
                        <img style="max-width:60%;" src="{{ media.media_url }}" class="img-fluid p-2"
                             alt="Responsive image">
                        {% endfor %}

                        <!--                        <div class="p-3">-->
                        <!--                            {% for media in task.mediaassignement_set.all %}-->
                        <!--                            <button type="button" class="btn btn-outline-primary btn-sm mr-1">{{ media.media.name }}-->
                        <!--                            </button>-->
                        <!--                            {% endfor %}  -->
                        <!--                        -->
                        <!--                        </div>-->
                        <div class="p-3 border-top osahan-post-body"><a href="profile.html">
                        </a>
                            <div class=" reviews-card rounded bg-white border-0">
                                <div class="card-body" style="
    padding: 0px;
">
                                    <h5 class="card-title mb-4">{{ post.comment_set | length }} commenti</h5>
                                    {% for comment in post.comment_set %}
                                    <div class="media mb-2">
                                        <img class="d-flex mr-3 rounded"
                                             src="{{ comment.author.photo }}"
                                             alt="">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ comment.author.first_name }} {{ comment.author.last_name
                                                }}
                                                - {{ comment.author.position }} {{ comment.author.company.name }}
                                                <span class="star-rating float-right"><small>{{ comment.published_date|date:'Y-m-d'}}
                                                        </small>
                                                                </span></h5>
                                            <p>{{ comment.text }}</p>
                                            {% for reply in comment.reply_set %}
                                            <div class="media mt-4">
                                                <img class="d-flex mr-3 rounded"
                                                     src="{{ reply.author.photo }}" alt="">
                                                <div class="media-body">
                                                    <h5 class="mt-0">{{ reply.author.first_name }} {{
                                                        reply.author.last_name }}
                                                        <small>{{ reply.published_date|date:'Y-m-d' }}</small>
                                                    </h5>
                                                    <p>{{ reply.text }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <a href="profile.html">
                            </a></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="sidebar-card box shadow-sm rounded bg-white mb-3 border-0">
                <div class="card-body" style="
    padding: 0px;
">
                    <h5 class="card-title p-2">Info Fase di Lavoro</h5>

                    <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                        <div class="p-5">
                            <img src="{{ task.assigned_company.logo }}" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="p-3 border-top border-bottom">
                            <h6 class="font-weight-bold text-dark mb-1 mt-0">{{ task.assigned_company.name }}</h6>
                            <p></p>
                        </div>

                        <div class="box shadow-sm border rounded bg-white mb-3">
                            <div class="box-title border-bottom p-3">
                                <h6 class="m-0">Persone coinvolte nella fase di lavoro</h6>
                            </div>
                            <div class="box-body p-3">
                                {% for profile in task.assigned_company.profiles.all %}
                                <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ profile.photo }}" alt="">
                                    </div>
                                    <div class="font-weight-bold mr-2">
                                        <div class="text-truncate">{{ profile.first_name }} {{ profile.last_name }}
                                        </div>
                                        <div class="small text-gray-500">{{ profile.position }} - {{ profile.company }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% for activity in task.activities %}
<div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
    <h2 class="font-weight-light"><span style="color:  #0d0a27;" class="font-weight-bold">{{ forloop.parentloop.counter }}.{{ forloop.counter }}. Dettaglio dell'attività</span>
    </h2>
</div>
<div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="blog-card padding-card box shadow-sm rounded bg-white mb-3 border-0" style="min-height: 605px;">
                <div class="card-body">
                    <h2>{{ activity.title }}</h2>
                    <h6 class="mb-3">{{ activity.post_set | length }} posts</h6>
                    {% for post in activity.post_set %}
                    <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                        <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                            <div class="dropdown-list-image mr-3">
                                <img class="rounded-circle" src="{{ post.author.photo }}" alt="">
                                <div class="status-indicator bg-success"></div>
                            </div>
                            <div class="font-weight-bold">
                                <div class="text-truncate">{{ post.author.first_name }} {{ post.author.last_name }}
                                </div>
                                <div class="small text-gray-500">{{ post.author.position }}
                                    - {{ post.author.company.name }}
                                </div>
                            </div>
                            <span class="ml-auto small">{{ post.published_date|date:'Y-m-d' }}</span>
                        </div>
                        <div class="p-3 border-bottom osahan-post-body">
                            <p class="mb-0">{{ post.text }} </p>
                        </div>
                        {% for media in post.media_set %}
                        <img style="max-width:60%;" src="{{ media.media_url }}" class="img-fluid p-2"
                             alt="Responsive image">
                        {% endfor %}

                        <!--                        <div class="p-3">-->
                        <!--                            {% for media in task.mediaassignement_set.all %}-->
                        <!--                            <button type="button" class="btn btn-outline-primary btn-sm mr-1">{{ media.media.name }}-->
                        <!--                            </button>-->
                        <!--                            {% endfor %}  -->
                        <!--                        -->
                        <!--                        </div>-->
                        <div class="p-3 border-top osahan-post-body"><a href="profile.html">
                        </a>
                            <div class=" reviews-card rounded bg-white border-0">
                                <div class="card-body" style="
    padding: 0px;
">
                                    <h5 class="card-title mb-4">{{ post.comment_set | length }} commenti</h5>
                                    {% for comment in post.comment_set %}
                                    <div class="media mb-2">
                                        <img class="d-flex mr-3 rounded"
                                             src="{{ comment.author.photo }}"
                                             alt="">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ comment.author.first_name }} {{ comment.author.last_name
                                                }}
                                                - {{ comment.author.position }} {{ comment.author.company.name }}
                                                <span class="star-rating float-right"><small>{{ comment.published_date|date:'Y-m-d'}}
                                                        </small>
                                                                </span></h5>
                                            <p>{{ comment.text }}</p>
                                            {% for reply in comment.reply_set %}
                                            <div class="media mt-4">
                                                <img class="d-flex mr-3 rounded"
                                                     src="{{ reply.author.photo }}" alt="">
                                                <div class="media-body">
                                                    <h5 class="mt-0">{{ reply.author.first_name }} {{
                                                        reply.author.last_name }}
                                                        <small>{{ reply.published_date|date:'Y-m-d' }}</small>
                                                    </h5>
                                                    <p>{{ reply.text }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <a href="profile.html">
                            </a></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--  <div class="col-lg-12 col-md-12 col-sm-12">

              <div class="sidebar-card box shadow-sm rounded bg-white mb-3 border-0">
                  <div class="card-body" style="
      padding: 0px;
  ">
                      <h5 class="card-title p-2">Info Fase di Lavoro</h5>

                      <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                          <div class="p-5">
                              <img src="{{ task.assigned_company.logo }}" class="img-fluid" alt="Responsive image">
                          </div>
                          <div class="p-3 border-top border-bottom">
                              <h6 class="font-weight-bold text-dark mb-1 mt-0">{{ task.assigned_company.name }}</h6>
                              <p></p>
                          </div>

                          <div class="box shadow-sm border rounded bg-white mb-3">
                              <div class="box-title border-bottom p-3">
                                  <h6 class="m-0">Persone coinvolte nella fase di lavoro</h6>
                              </div>
                              <div class="box-body p-3">
                                  {% for profile in task.assigned_company.profiles.all %}
                                  <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                      <div class="dropdown-list-image mr-3">
                                          <img class="rounded-circle" src="{{ profile.photo }}" alt="">
                                      </div>
                                      <div class="font-weight-bold mr-2">
                                          <div class="text-truncate">{{ profile.first_name }} {{ profile.last_name }}</div>
                                          <div class="small text-gray-500">{{ profile.position }} - {{ profile.company }}
                                          </div>
                                      </div>
                                  </div>
                                  {% endfor %}
                              </div>

                              <div class="sidebar-card box shadow-sm rounded bg-white mb-3 border-0">
                                  <div class="card-body" style="
      padding: 0px;
  ">
                                      <h5 class="card-title mb-3">Alerted</h5>
                                      <ul class="sidebar-card-list">
                                          <li><a href="#"><i class="feather-arrow-right-circle"></i> December,
                                              2017</a>
                                          </li>
                                          <li><a href="#"><i class="feather-arrow-right-circle"></i> November,
                                              2017</a>
                                          </li>
                                          <li><a href="#"><i class="feather-arrow-right-circle"></i> October, 2017</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>

              </div>
          </div>-->
    </div>
</div>
{% endfor %}
{% endfor %}
</div>
<div class="pb-5">
    <div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
        <h2 class="font-weight-light"><span style="color:  #0d0a27;"
                                            class="font-weight-bold">3. Diagramma di Gantt</span></h2>
    </div>
</div>
<div class="pb-5">
    <div style="max-width: 100%; padding-left: 60px; padding-right: 60px;" class="container">
        <h2 class="font-weight-light">
            <span style="color:  #0d0a27;" class="font-weight-bold">4. Allegati
            <p> Potete trovare il materiale allegato nella mail ricevuta con il report pdf</p></span>
        </h2>
    </div>
</div>
</body>
</html>