{% extends 'email/base_email_en.html' %}

{% block content %}
<p>
    Gentile {{first_name}} {{last_name}}, <br/>
    <strong>{{info_phrase}}</strong>.<br/>
</p>
<p>
    Effettua il login e seleziona il tuo profilo relativo all'azienda <strong>{{company_name}}</strong>.
    Troverai anche una notifica corrispondente a questa email sul pannello di notifica del tuo profilo.
</p>
<p>
    Per semplicità, il seguente pulsante reindirizzerà alla pagina di destinazione <i>(** E' necessario che tu abbia già effettuato l'accesso)</i>
</p>
<p>
    <a style="background-color: #085ff7" href="{{ endpoint }}" target="_blank" class="btn">Vai alla pagina</a>
</p>
{% endblock %}